
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";
@theme {
  --font-display: "Mulish", sans-serif;
  --font-serif: "Libertinus Serif", serif;
  --font-cursive: "Edu NSW ACT Cursive", cursive;
  --color-*: initial;
  --color-primary-first: #07beb8;
  --color-primary-second: #3dccc7;
  --color-secondary-first: #68d8d6;
  --color-secondary-second: #9ceaef;
  --color-supporting-first: #c4fff9;
  --color-supporting-second: #ffffff;
}
@layer base {
  html, body {
    font-family: var(--font-display);
  }
}
/* Fast layer moving left to right */
@keyframes slide-left-to-right-once {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-slide-left-to-right-once {
  animation: slide-left-to-right-once 2s linear forwards;
}
